body{
  
  background-color: #dad5d5;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  text-align: left;
  }
  
  a{
    text-decoration: none;
  }
  
  a: link, a:visited {
    
  }
  
  a: hover, a: active{
    
  }
  
.body{
  
  margin: 0 auto;
  width: 70%;
  clear: both;
  
  
  }
  
.homeHeader img{
  margin: 2% 0;
}

.homeHeader nav{
  
  background-color: #424242;
  position: absolute;
  top: 130px;
  height: 60px;
  width: 70%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.homeHeader nav ul{
  list-style: none;
  margin: 0 auto;
}

.homeHeader nav ul li{
  float: left;
  display: inline;
}

.homeHeader nav a:link, .homeHeader nav a:visited {
  color:#f97575;
  display:inline-block;
  padding:15px 25px;
  height: 30px;
}

.homeHeader nav a:hover, .homeHeader nav a:active,
.homeHeader nav .active a:link, .homeHeader nav.active a:visited {
  
  background-color: #ffffff;
  color: #f97575;
  text-shadow: none;
}

.homeHeader nav ul li a{
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainContent{
  line-height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
}

.content{
  position: absolute;
  top: 200;
  width: 60%;
  float: center;
  padding: 13% 5%;

}

.homeContent{
  
  opacity: 0.5;
  background-color: #424242;
  color: #f97575;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 30%;
}

.homeFooter{
  
  width: 100%;
  float: left;
  background-color: #424242;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.homeFooter p{
  color: #f97575;
  width: 92%;
  margin: 2%, auto;
}
