body{
  
  background-color: #dad5d5;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  text-align: left;
  }
  
  a{
    text-decoration: none;
  }
  
  a: link, a:visited {
    
  }
  
  a: hover, a: active{
    
  }
  
.body{
  margin: 0 auto;
  
  }
  
.homeHeader img{
  margin: 2% 0;
}

.homeHeader nav{
  
  background-color: #424242;
  box-align:right;
  height: 60px;
  width: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
